<!DOCTYPE html>
<html>
<head>
  <title>Ingoverkno</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
</head>
<body>
  <%= yield %>
</body>
</html>
